
body {
    margin: 10px;

}
.menu {
    height: 50px;
    width: 1280px;
    background-color: #4E4E4E;
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    row-gap: 10px;
}
nav > div {
    margin: 2%;
}
.left {
    margin-right: 65%;
}
.onas {
    width: 1280px;
    height: 580px;
    background-image: url(fog.jpg);
    display: flex;
    align-items: center;
}
.onas > section {
    margin: 3%;
    padding: 5%;
}
