@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');}
* {
    font-family: 'Roboto', sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    width: 960px;}

.top {
    height: 6vh;}

.menu {
    background-color: #4E4E4E;
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    row-gap: 10px;}

nav > div {
    margin: 2%;}

.left {
    margin-right: 60%;}

.onas {
    background-image: url(fog.jpg);
    height: 100vh;
    color: #777777;
    display: flex;
    align-items: center;}

.onas > section {
    margin: 3%;}

section > div {
    padding-top: 5%;
    padding-bottom: 5%;}

.oferta {
    border: 5px solid #777777;
    padding: 1% 10%;}

.onas:hover {
    background-image: none;
    background-color: white;
    color: black;}

.spec {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 5%;
}
.spec1 {
    display: flex;
    align-items: center;
}
.spec2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.circle1 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #C4C4C4;
    margin-right: 5%;}
.circle2 { 
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #907D7D;
    margin-left: 5%;} 

.down {
    background-color: #405D78;
    color: white;
}
.down > h2 {
    margin-top: 5%;
}
.offer {
    height: 500px;
    width: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;}

.offer > div {
    height: 200px;
    width: 200px;
    box-shadow: 0px 2px 2px;
    margin: 3%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bottom {
    background-color: #4E4E4E;
    color: white;
    width: 960px;
    display: flex;
    justify-content: space-around;
    align-items:center;}
.bottom > div {
    margin-right: 10%;
}
.namecomp {
    margin-right: 50%;
}